[submodule "external/type_traits"]
	path = external/type_traits
	url = https://github.com/andreasxp/type_traits
[submodule "tools/cmake-scripts"]
	path = tools/cmake-scripts
	url = https://github.com/mpusz/cmake-scripts
